ADMIN_PASSWORD=change-me
SESSION_SECRET=replace-with-a-long-random-secret
GITHUB_TOKEN=github_pat_xxx
GITHUB_OWNER=CubeDr
HOMEPAGE_REPO=reboot-homepage
MAX_ZIP_BYTES=4194304
MAX_UNZIPPED_BYTES=262144000
MAX_ZIP_FILES=5000
PRESERVE_PATHS=.github,README.md,README,CNAME,LICENSE,.gitignore,.nojekyll
