ADMIN_PASSWORD=change-me
SESSION_SECRET=replace-with-a-long-random-secret
GITHUB_TOKEN=github_pat_xxx
GITHUB_OWNER=CubeDr
HOMEPAGE_REPO=reboot-homepage
ZIP_BRANCH=zip
ZIP_PATH=site.zip
MAX_ZIP_BYTES=52428800
MAX_UNZIPPED_BYTES=262144000
MAX_ZIP_FILES=5000
